main h1 {
	font-size: 30px;
	background-color: rgb(120,30,60);
	color: #fafffa;
	text-align: center;
	font-family:  'Ubuntu', 'Oswald', "Arial", sans-serif;
}
h2 {
	font-size: 20px;
        font-family: 'Oswald', "Arial", sans-serif;
}

